<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Vinho Verde Quality</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>A complete technical guide to Portuguese "Vinho Verde" wine </h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="alcohol" placeholder="Alcohol" required="required" />
        <input type="text" name="sulphates" placeholder="Sulphates" required="required" />
        <input type="text" name="total sulfur dioxide" placeholder="Total Sulfur Dioxide" required="required" />
        <input type="text" name="volatile acidity" placeholder="Volatile Acidity" required="required" />
        <input type="text" name="chlorides" placeholder="Chlorides" required="required" />
        <input type="text" name="citric acid" placeholder="Citric Acid" required="required" />
        <input type="text" name="fixed acidity" placeholder="Fixed Acidity" required="required" />
        <input type="text" name="pH" placeholder="pH" required="required" />
        <input type="text" name="residual sugar" placeholder="Residual Sugar" required="required" />
        <input type="text" name="free sulfur dioxide" placeholder="Free Sulfur Dioxide" required="required" />

        <button type="SUBMIT" class="btn btn-primary btn-block btn-large">Predict Quality Based On Your Above Selection</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
